
    <div class="">
      <nz-layout>
      <div class="media clearfix">
        <div class="media-left pr30">
          <a href="#">
            <img class="media-object mw150" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
            <!--https://www.liquor.or.th/assets/admin/themes/img/avatar2.png -->
            <!-- https://bootdey.com/img/Content/avatar/avatar7.png -->
          </a>
        </div>
        <div class="media-body va-m">
          <h2 class="media-heading">Hi, {{user.person.firstName}}!
          </h2>
          <p class="lead">Welcome to RogerThat! Here you can safely share your data with us and get some valuable advice.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel-body inf-content">
          <table class="table table-user-information">
            <tbody>
            <tr>
              <td>
                <strong>
                  Full name
                </strong>
              </td>
              <td class="text-primary">
                {{user.person.firstName + " " +  user.person.lastName}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  Email
                </strong>
              </td>
              <td class="text-primary">
                {{user.email}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  Phone number
                </strong>
              </td>
              <td class="text-primary">
                {{user.phoneNumber}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  Address
                </strong>
              </td>
              <td class="text-primary">
                {{user.person.address}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Gender
                </strong>
              </td>
              <td class="text-primary">
                {{user.person.gender}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="profile-details">
          <i nz-icon nzType="upload" nzTheme="outline"></i> Transactions Uploads: <span>Coming soon</span>
        </div>
        <div class="profile-since">
          Member since: Coming soon
        </div>
      </div>
      </nz-layout>
    </div>

