<nz-layout class="app-layout">
  <nz-layout>
    <nz-header>
      <h1> My Profile
      </h1>
    </nz-header>
    <h3 [ngStyle]="{ margin: '16px 14px' }">Hi, {{userName}}!</h3>
    <nz-list nzBordered = false nzSize="large">
      <li> <i nz-icon nzType="mail" nzTheme="outline"></i> Email: {{email}}</li>
      <li> <i nz-icon nzType="phone" nzTheme="outline"></i> Phone number:{{phoneNr}}</li>
      <li> <i nz-icon nzType="bank" nzTheme="outline"></i> Employed:{{employed}}</li>
      <li><i nz-icon nzType="heart" nzTheme="outline"></i> Married: {{married}}</li>
      <li><i nz-icon nzType="team" nzTheme="outline"></i> Children: {{children}}</li>
    </nz-list>
  </nz-layout>
    <a routerLink="/profile" (click)="logout()">Log Out</a>
</nz-layout>
