  
  <div nz-row >
    <div nz-col nzSpan="8">
      <div class="upload-area">
        <span> Upload your Transactions: </span> 
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          [nzHeaders]="{ authorization: 'authorization-text' }"
        >
          <button nz-button nzType="primary"><i nz-icon nzType="upload"></i>Click to Upload</button>
        </nz-upload>
      </div>
    </div>
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="8"></div>
  </div>

