<nz-header>
  <h1> Register
  </h1>
</nz-header>
<div class="parent">   <div layout="row" layout-align="center center">
<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>E-mail</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
      <input nz-input placeholder="Type here your email" formControlName="email" id="email" style="color:#000000;"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Phone Number</nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          [nzValidateStatus]="validateForm.controls['phoneNumber']"
          nzErrorTip="Please input your phone number!"
        >
            <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
        </nz-form-control>
    </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your new password!">
      <input nz-input placeholder="Type here your password" type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()" style="color:#000000;"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired>Confirm Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
      <input nz-input placeholder="Type here your password" type="password" formControlName="checkPassword" id="checkPassword" style="color:#000000;"/>
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please confirm your password!
        </ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          Two passwords that you enter is inconsistent!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzTooltipTitle="Enter your first name">
      <span>First Name</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your first name">
      <input nz-input formControlName="firstName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzTooltipTitle="Enter your last name">
      <span>Last Name</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your full name">
      <input nz-input formControlName="lastName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzTooltipTitle="Enter your address">
      <span>Address</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your address">
      <input nz-input formControlName="address" />
    </nz-form-control>
  </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>
        <span>Age</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your age!">
        <input nz-input formControlName="age" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Gender</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <nz-select name="gender" formControlName="gender">
          <nz-option nzValue="male" nzLabel="Male"></nz-option>
          <nz-option nzValue="female" nzLabel="Female"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  <button nz-button nzType="primary" class="confirm" (click)="submitForm()">Confirm</button>
</form>
</div></div>

